header {
  width: 75vw;
  background-color: white;
}
.headerTop {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #e6e3dc;
}

.iconDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
}

.iconDiv > * {
  width: 30px;
  padding: 0 7px;
  border-right: black solid 1px;
}

.offersDiv {
  font-size: small;
  text-align: center;
  width: 100%;
}

.headerTop .language:hover {
  box-shadow: 0 1px 10px #c6c5c5;
}
.headerBottom {
  display: flex;
  flex-direction: column;
}
.headerBottomTop {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 25px;
}
.logoDiv {
  display: flex;
  align-items: center;
  width: 25%;
}

.logoDiv img {
  width: 100%;
  max-width: 175px;
  min-width: 93px;
}
.searchDiv {
  width: 50%;
}
.userIconsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 25%;
}
.userIconsDiv > * {
  border-right: #eaeff3 solid 1px;
  padding: 0 5px;
  width: 30px;
}

.inCartDiv  {
  position: relative;
  display: flex;
  align-items: center;
  height: 16px;
}

.cartNum {
  position: absolute;
  right: -5px;
  top: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7f9b9d;
  color: white;
  font-size: 10px;
}

.headerBottomUnder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.menuDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
